
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Monoton&display=swap');
.heading{
    font-family: 'Cinzel Decorative', cursive;
    color: red;
    font-size: 60px;
}